Flask==2.3.3
flask-cors==6.0.1
spacy==3.5.3
blis==0.7.9
scikit-learn==1.2.2
numpy==1.25.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
